* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background: #0f1115;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

canvas {
    border: 1px solid #444;
}